.project-element {
    margin-bottom: 10px;
}

.figure {
    overflow: hidden;
    padding-top: 70%;
    position: relative;
    margin: 0;
}

.figure img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transform: scale(1);
    transition:  transform .3s;
    z-index: -1;
}

.figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
    opacity: 0;
    z-index: 1;
    transition:  opacity 1s;
}

.figcaption h4{
    color: #fff;
}


.figcaption a {
    color: #fff;
    text-decoration: none;
    border: 2px solid #6C63FF;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    align-self: center;
    width: 50%;
    padding: 0.8rem;
}

.figcaption a:hover {
    background-color: #6C63FF;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #141c3a;
    transition:  opacity 1s;
    z-index: -1;
}

.figure:hover .overlay, .figure:hover .figcaption {
    opacity: 1;
}

.figure:hover img {
    transform: scale(1.2);
}