.section {
    text-align: center;
    margin-bottom: 100px;
}

.section h1{
    font-size: 3.5rem;
    font-weight: 900;
}
.section h2 {
    font-size: 1.5rem;
    color: #7B7B7B;
    margin-bottom: 80px;
}
.hero-img {
    width: 20%;
    max-width: 600px;
    height: auto;
}

@media (max-width: 1024px) {
    .hero-img {
        width: 25%;
    }
}

@media (max-width: 426px) {
    
    .section h1{
        font-size: 3rem;
    }
    .section h2 {
        font-size: 1rem;
    }
    .hero-img {
        width: 50%;
    }
}