.descript-section {
    margin-bottom: 100px;
}


.jumbotron {
    padding-bottom: 150px;
    text-align: center;
    background-color: #6C63FF;
    color: #fff;
}

.jumbotron p {
    font-size: 1.2rem;
}