.footer {
    padding: 50px 0;
    min-height: 250px;
    background: #6C63FF;
}

.col-center {
    text-align:center;
    color: #C4C0FB;
}

.col-center p a{
    color: #C4C0FB;
    margin: 0 !important;
    padding: 0 !important;
    text-decoration: underline;
}
.col-center a:hover{
    color: #fff;
}
.col-center:last-of-type a{
    margin-right: 10px;
    padding-left: 5px;
}
.icons {
    font-size: 30px;
}
.icons:hover {
    color: white;
}